{
    "RootNamespace": "Allocation",
    "Connections": [
        {
            "Key": "Default",
            "ConnectionString": "Data Source=101.201.28.235; Initial Catalog=Allocation_Default_v1; uid=sa;pwd=skyfaith+64586103",
            "ProviderName": "System.Data.SqlClient",
            "Tables": [
                {
                    "Tablename": "allot.DeclarationData",
                    "Identifier": "DeclarationData",
                    "Module": "Allot",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Tenants",
                    "Identifier": "Tenants",
                    "Module": "Administration",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "allot.API",
                    "Identifier": "Api",
                    "Module": "Allot",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "allot.IdCard",
                    "Identifier": "IdCard",
                    "Module": "Allot",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                }
            ]
        }
    ],
    "KDiff3Path": "C:\\Program Files (x86)\\KDiff3\\kdiff3.exe",
    "TFSIntegration": false,
    "WebProjectFile": "..\\..\\..\\Allocation\\Allocation.Web\\Allocation.Web.csproj",
    "BaseRowClasses": [],
    "RemoveForeignFields": [],
    "CustomGenerate": {},
    "CustomSettings": {},
    "GenerateRow": true,
    "GenerateService": true,
    "GenerateUI": true,
    "GenerateCustom": true
}