@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Allot.DeclarationData.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Allocation.Allot.DeclarationDataGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>